body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.productos1 {
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.productos2 {
    margin-left: 10rem;
}

.precio {
    text-align: right;
}

.cuponera {
    text-align: center;
}

footer {
    text-align: center;
    color: #707070;
}

@media (max-width: 576px) {
    .productos1 {
        margin: 0;
    }
    .productos2 {
        margin: 0;
    }
  }        