.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.sidebar {
    grid-area: sidebar;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    /* "main" */
    "footer footer";
}

.box {
    border: solid 1px black;
    margin: 10px;
}
