body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: flex;
}

.contactos {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    min-height: 100vh;
    background-color: #E8ebe4;
}

.chats img{
    border-radius: 50%;
    width: 68px;
    height: 68px;
}

.status-chat-activo {
    color: grey;
    font-size: x-small;
}

.status-chats {
    font-size: small;
}

.chats {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border: solid 1px grey;
}

.chat-activo {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border: solid 1px grey;
}

.chat-activo img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}


.chat-datos {
    width: 100%;
    padding: 0 0.5rem;
}

.opciones {
    display: flex;
    justify-content: end;
}

.fa-solid {
    padding-right: 1rem;
}

.boton {
    border: solid 1px grey;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
}

.btn {
    width: 80%;
    height: 150%;
}

.chat-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #bec1bb;
    text-align: center;
}

.chat-principal p {
    width: 50%;
}

.chat-principal img {
    width: 25%;
}